/*
mainPageCSS.css
This page holds the style for the main page.

Written By: Victoria Sandler & Ori Shabo
        ID: 307462903, 300739653
     Login: victoriasa, orisha
*/
body {
    background: #CCFFFF
}

.container {

    margin-right: auto;
    margin-left: auto;
    width: 40%;
    height: 800px;
}

.container >div {
    font: 200 20px/20px Arial, Helvetica, sans-serif;
}

.usersComments {
    padding:10px;
    background-color: #FFF5E6;
    border: #778286;
    border-width: 1px;
    border-radius: 5px;
    border-color: orange;
    border-style: outset;
    margin-top: 2px;
    margin-bottom: 3px;
    width: 95%;
    height: 30px;
}

.comments {}

.postHeader {
    font-size: 25px;
    color: #3399ff;
    margin-bottom: 10px;
    margin-top: 10px;
}

.postBody {
    margin-bottom: 10px;
    
}

.messageWarp {  
    border-style: groove;
    border-width: 1px;
    margin-top: 5px;
    width: 98%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    background: #DDF0F8;
}

.messageWarp > div {
    margin-left: 4px;
    width: 100%;
}
 
.usersList > div {
    padding: 5px;
    height: 30px;
}

.usersHeadLine {
    padding-top: 10px;
    padding-bottom: 3px;
    height: 30px;
    background: #778286;
    text-align: center;
    color: white;
    font-size: 20px;
}

.header {
    //box-shadow: #868686 0 0px 10px -1px;
    //-webkit-box-shadow: #868686 0 0px 10px -1px;
    width: 100%;
    height: 16%;
    //background:#DDF0F8;
    background: none;
    margin-bottom: 7px;
}


.users {
    box-shadow: #868686 0 0px 10px -1px;
    -webkit-box-shadow: #868686 0 0px 10px -1px;
    width: 25%;
    float: left;
    background:#DDF0F8;
    height: 80%;
}


.messages {

    margin-left: 34%;
    height: 80%;
    width: 75%;
    background: #CCFFFF;
    margin-bottom: 6px; 
    padding-top: 1px;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: #868686 0 0px 10px -1px;
    -webkit-box-shadow: #868686 0 0px 10px -1px;
}

.button {
    float: right;
    margin-top: 10px;
}

img {
    width:80%;
    float: left;
}

.footer {
    box-shadow: #868686 0 0px 10px -1px;
    -webkit-box-shadow: #868686 0 0px 10px -1px;
    width: 100%;
    height: 7%;
    background: #DDF0F8;
}

select {
    background: #fbfbfb url('down-arrow.png') no-repeat right;
    background: #fbfbfb url('down-arrow.png') no-repeat right;
    appearance: none;
   -webkit-appearance: none; 
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 100%;
}

.name:hover {
    background: #C7D8DF;
    border: 10px;
    border-color: black;
}

.name {
    font-size: 15px;
}


input[type="text"] {
    
    color: #888;
    width: 87%;
    height: 50px;
    padding: 5px 4px 0px 5px;
    margin-top: 15px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #CEE2E7;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
    box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
    font: 24px/24px Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 3px;    
}

input#loginbutton {
	-moz-box-shadow:inset -10px 15px 11px -21px #bbdaf7;
	-webkit-box-shadow:inset -10px 15px 11px -21px #bbdaf7;
	box-shadow:inset -10px 15px 11px -21px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	font-weight:normal;
	font-style:normal;
	height:36px;
	line-height:36px;
	width:104px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 24px #528ecc;
}
input#loginbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}
input#loginbutton:active {
	position:relative;
	top:1px;
}

.logoutButton {
	background:#f78096;
	background:-moz-linear-gradient(top,#f78096 0%,#f56778 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f78096),color-stop(100%,#f56778));
	background:-webkit-linear-gradient(top,#f78096 0%,#f56778 100%);
	background:-o-linear-gradient(top,#f78096 0%,#f56778 100%);
	background:-ms-linear-gradient(top,#f78096 0%,#f56778 100%);
	background:linear-gradient(top,#f78096 0%,#f56778 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f78096',endColorstr='#f78096',GradientType=0);
	padding:5px 4px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #ae4553;
        cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
        margin-left: 10px;
}


#welcomeUser {
    font-size: 15px;
    margin-top: 0px;
}

.welcome {
    float: right;
}

.logoutButton:hover{
   color:#dfe7ea;
    /*reduce the size of the shadow to give a pushed effect*/
    -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999; 
}

.postCommentButton {
    -webkit-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
    -moz-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
    box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
    background-color:#5B74A8;
    border:1px solid #29447E;
    font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
    font-size:12px;
    font-weight:700;
    padding:2px 6px;
    height:28px;
    color:#fff;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
}

.postCommentButton:hover {
    color:#dfe7ea;
    /*reduce the size of the shadow to give a pushed effect*/
    -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999; 
}